@import '../../stylus_lib'

.article-fullscreen-content
  background white
  z-index 3
  position relative
  padding-top 1px
  height 100%
  h1.article-headline, .article-lead-paragraph, .article-subheader
    display none

.article-fullscreen
  width 100%
  height 100%
  &.article-sa-fullscreen-video
    position relative
    z-index 2
    .article-fullscreen-text-overlay
      color white
  &.hidden
    opacity 0
  a
    color white
  video::-webkit-media-controls
    display none !important
  .article-fullscreen-container
    top 0px
  .main-side-margin
    position relative
    z-index 1
    padding-top 40px
    padding-bottom 40px
    height 100%
    min-height calc(100vh - 130px)
    display flex
    flex-direction column
    justify-content center
  .article-timestamp
    color gray-lighter-color
    margin-bottom 20px
  .article-sa-artsy-logo
    color white
  .article-sa-primary-logos
    padding-top 15px
    margin-bottom 70px
    .article-sa-artsy-logo
      width 95px
      height 31px
      padding-top 4px
      font-size 32px
    .article-sa-primary-logo img
      max-height 31px
      max-width 204px
  .article-sa-related-container
    z-index 2
    width 100%
    color white
    .article-sa-related
      a, a:hover
        color white
        border-color white
        background transparent

.article-fullscreen-container
  position fixed
  top 0px
  left 0px
  height 100%
  width 100vw
  z-index 1
.article-fullscreen-overlay
  position absolute
  top 0px
  left 0px
  background black
  opacity 0.17
  min-height 500px
  height 100%
  width 100vw
  z-index 1
.article-fullscreen-text-overlay
  color white
.article-fullscreen-video-player, .article-fullscreen-image
  height 100%
  width 100vw
  object-fit cover
  z-index 0
.article-fullscreen .article-fullscreen-title
  font-size 43px
  font-style italic
  line-height 110%
  margin-bottom 13px
.article-fullscreen-intro.article-lead-paragraph
  font-size 20px
  line-height 120%
  p
    margin-bottom 15px
