body.article-sa
  footer
    .nav-menu__inner
      display none

.article-sa-footer
  padding 60px 0px 20px 0px

.article-sa-footer-blurb
  margin 15px 0px

.article-sa-cta, .article-sa-footer-blurb
  font-size 18px
  line-height 1.3

.article-sa-title
  font-size 30px
  line-height 110%
  font-style italic
  text-decoration none

.article-sa-artsy-logo
  width 70px
  height 23px
  display inline-block
  vertical-align top
  overflow hidden
  padding-top 1px
  font-size 24px

.article-sa-primary-logo
  display inline-block
  vertical-align top
  img
    padding-top 1px
    max-height 21px
    max-width 185px

.article-sa-secondary-logo-text
  avant-garde-size('body',true)
  display inline-block
  vertical-align top
  margin-right 10px
  margin-top 2px

.article-sa-secondary-logo
  margin-top 20px
  img
    display inline-block
    vertical-align top
    max-height 20px

.article-sa-related
  margin-top 20px
  margin-bottom 40px
  width 100%
  a
    border-bottom 1px solid
    font-size 20px
    line-height 110%
    padding 20px 0px
    text-align center
    display block
    text-decoration none
    &:first-child
      border-top 1px solid

// Sticky header
.article-sa-sticky-header
  position fixed
  top 0px
  left 0px
  width 100%
  background white
  opacity 0
  transition all 400ms
  z-index 5
  &.visible
    opacity 1
    transition all 200ms

.article-sa-sticky-left
  margin-top 20px
  margin-left 20px

.article-sa-sticky-right
  position absolute
  top 20px
  right 20px
  .article-sticky-menu, .article-sticky-close
    position absolute
    transition opacity 300

  .article-sticky-close
    top 0px
    right -6px
    opacity 0

  .article-sticky-menu
    box-shadow inset 0 0 0 7px, 0 -7px, 0 7px
    text-indent -9999px
    direction ltr
    width 20px
    height 4px
    top 8px
    right 0px
    opacity 1

.article-sa-sticky-border
  border-top 1px solid lightgrey
  margin-top 11px
  width 100%

.article-sa-sticky-center
  text-align center
  width 100%
  transition all 300ms
  max-height 0px
  overflow hidden
  .article-sa-related
    margin 25px 20px
    width auto
  .article-sa-cta
    margin-bottom 20px
    display inline-block
  &.visible
    border-bottom 1px solid lightgrey

.article-sa-cta
  fine-faux-underline()
