.article-related-widget
  padding-top 60px

.wtrn-header
  avant-garde('s-headline')
  margin-bottom 10px

a.wtrn-article-container
  display flex
  width 100%
  text-decoration none
  align-items center
  border-bottom 1px solid gray-lighter-color
  &:first-of-type
    border-top 1px solid gray-lighter-color

.wtrn-image
  width 70px
  height 70px
  display inline-block
  margin 20px 20px 20px 0px

.wtrn-title
  display inline-block
  garamond('s-body')
  width calc(100% - 90px)
  vertical-align top
  margin 20px 0px
