extends ../../../components/layout/templates/main

append locals
  - assetPackage = 'mobile_articles'

block head
  include ../meta/article

block content

  #article-body-container
    include ../../../components/article/templates/index

  if featuredSection && featuredSection.get('slug') == 'gallery-insights-magazine'
    .articles-insights-section
      include gallery_insights_form

  if sd.INFINITE_SCROLL
    #article-loading: .loading-spinner

  .article-fixed-share.js--article-fixed-share
    //- Rendered on client

  include ../../../components/layout/templates/json_ld