a.articles-promoted.main-layout-container(href=href)
  .articles-promoted__left
    .articles-promoted__title Promoted Content
    .articles-promoted__name= name
  .articles-promoted__right
    i.icon-chevron-small-right
