include ./bid_status_message.jade
.artwork-auction-bid-module__bid-status
  .artwork-auction-bid-module__bid-status-title= artwork.auction.sale_artwork.counts.bidder_positions > 0 ? 'Current Bid:' : 'Starting Bid:'
  .artwork-auction-bid-module__bid-status-amount
    = artwork.auction.sale_artwork.current_bid.amount
.artwork-auction-bid-module__bid-status__count-user-status
  .artwork-auction-bid-module__bid-status-count
    if artwork.auction.sale_artwork.counts.bidder_positions > 0
      | #{artwork.auction.sale_artwork.counts.bidder_positions} Bids
    if artwork.auction.sale_artwork.reserve_status == 'reserve_met'
      span , Reserve met
    else if reserveNotMet
      span , Reserve not met
    //- TODO: https://github.com/artsy/auctions/issues/124
    //- else
    //-   span No reserve
  if bidder && bidder.lot_standing && typeof window !== 'undefined'
    +bidStatusMessage(bidder.lot_standing, artwork.auction.sale_artwork)