extends ../../../components/layout/templates/main

block content
  .main-side-margin
    h1.home-page-featured-header.avant-garde-header-center Featured Articles
    include ../../../components/featured_items/template
    a.avant-garde-header-center.home-featured-back-link( href='/' ) See Current Shows
