.show-more-works__artworks-slider
  max-width 100px
  max-height 70px
  margin 0px auto
  padding-top 12px
  padding-bttom 6px
  avant-garde()
  font-size 10px
  text-align center
  position relative
  .circle-border-icon-button
    position absolute
    top -24px
    left 50%
    transform translateX(-50%)
    background-color white
    border 1px solid #ccc
    & .chevron-arrow-button::after
      transform rotate(90deg)
      background-color black
      position absolute
      margin-left -13px
      margin-top 20px
      height 22px
