.eoy_2016-artist
  .eoy_2016-artist__thumb
    img(src="#{sd.ARTSY_URL}/search/image/artist/#{artist.slug}")
  .eoy_2016-artist__name
    a.eoy_2016-artist__name__link(href="/artist/#{artist.slug}")= artist.name