if artwork.sale_message && !artwork.auction
  .artwork-meta-data-price
    .price-label Price:
    .listed-price= artwork.sale_message
    if artwork.price
      .shipping-info Shipping, tax, and services quoted by seller