if artwork.sale_message && !artwork.auction
  .artwork-meta-data-price
    if artwork.price
      .exact-price-label Price
      .exact-listed-price= artwork.price
      .shipping-info Shipping, tax, and services quoted by seller
    else
      span.price-label Price:
      span.listed-price= artwork.sale_message
